.header {
  background-color: $blue-beta;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1530px;
  padding: 18px 30px;
}

.header__logo {
  height: 44px;
  flex: none;

  img {
    height: 100%;

    &:nth-child(2) {
      display: none;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  padding-left: 30px;

  &__item {
    margin-left: 64px;
    
    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 700;
    color: $white-alfa;
    transition: color .2s;

    &:hover {
      color: $green-alfa;
    }
  }
}

@include mq(sm) {
  .header__logo {
    height: 34px;
  }

  .header-menu__item {
    margin-left: 50px;
  }

  .header-menu__link {
    font-size: 1.8rem;
  }
}

@include mq(xs) {
  .header__inner {
    padding: 12px 15px;
  }

  .header__logo {
  
    img {
  
      &:nth-child(1) {
        display: none;
        position: absolute;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  .header-menu__item {
    margin-left: 32px;
  }

  .header-menu__link {
    font-size: 1.8rem;
  }
}