.intro {
  background-color: $blue-beta;
  padding: 15px 0 80px;
}

.intro__inner {
  text-align: center;
}

.links {
  background-color: $green-alfa;
}

.links__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  max-width: 1216px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.links__item {
  margin: 8px;
  flex: none;
}

.links__link {
  display: flex;
  font-weight: 700;
  font-size: 1.7rem;
  color: $white-alfa;
  padding: 10px;
  border: 2px solid $white-alfa;
  border-radius: 6px;
  transition: color .2s, border-color .2s;

  &:hover,
  &.is-active {
    border-color: $blue-alfa;
    color: $blue-alfa;
  }
}

.projects {

}

.projects-inner {
  max-width: 1200px;
}

@include mq(sm) {
  .intro {
    background-color: $blue-beta;
    padding: 15px 0 65px;
  }

  .links__item {
    margin: 6px;
  }

  .links__link {
    font-size: 1.5rem;
    padding: 8px;
  }
}

@include mq(xs) {
  .intro {
    background-color: $blue-beta;
    padding: 15px 0 50px;
  }

  .links__item {
    margin: 4px;
  }

  .links__link {
    font-size: 1.3rem;
    padding: 5px 8px;
    border-width: 1px;
  }
}