@import './settings';

*,
*::before,
*::after {
    background: transparent none !important;
}

html, body {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    background-color: #fff !important;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    margin: 25px 0;
}

table {
    width: 100%;
}

form,
fieldset,
aside,
footer,
header,
nav,
iframe,
.button,
.popup,
.links {
    display: none;
}

.intro-tags {
    padding-left: 55px;
}

.intro__par {
    padding-left: 40px;
}

.projects__heading {
    margin-bottom: 0;
}

.projects__wrap {
    width: 100%;
    
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

.projects-item {
    border-left: 4px solid $green-alfa;
    width: 350px;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;

    &--lib {
        width: 100%;
    }
}

.projects-item__heading {
    margin-bottom: 10px;
}

.projects-contact__title {
    margin-bottom: 0;
}

.projects-contact__par {
    margin-top: 5px;
}

.logo {
    //uncomment this line if logo is light colored and will be insible printed
    //filter: invert(100%);
}