<header id="header" class="header">
  <div class="inner header__inner">
    <a class="header__logo" href="#">
      <img src='./img/logo.svg' alt='Logo | Library next door' />
    </a>
    <ul class="header-menu">
      <li class="header-menu__item">
        <a class="header-menu__link" href="#">Map</a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="#">Info</a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="#">News</a>
      </li>
    </ul>
  </div>
</header>