<div class="links">
  <ul class="inner links__inner">
    <li class="links__item">
      <a class="links__link" href="#">Analyse</a>
    </li>
    <li class="links__item">
      <a class="links__link" href="#">Interessante Digitalisierungsprojekte</a>
    </li>
    <li class="links__item">
      <a class="links__link is-active" href="#">Analyse</a>
    </li>
    <li class="links__item">
      <a class="links__link" href="#">Interessante Digitalisierungsprojekte</a>
    </li>
    <li class="links__item">
      <a class="links__link " href="#">Analyse</a>
    </li>
    <li class="links__item">
      <a class="links__link" href="#">Interessante Digitalisierungsprojekte</a>
    </li>
  </ul>
</div>