<div class="inner projects-inner">
  <section class="projects">
    <h2 class="projects__heading">Projects</h2>
    <div class="projects__wrap">
      <article class="projects-item">
        <h3 class="projects-item__heading">Název projektu</h3>
        <div class="projects-row">
          <span class="projects-row__title">Typ: </span>
          <span class="tag">Komunita</span>
          <span class="tag">Komunita</span>
        </div>
        <div class="projects-contacct">
          <h4 class="projects-contact__title">Kontaktní osoba</h4>
          <p class="projects-contact__par">
            Martin Homola <br />
            <a href="mailto:example@ez.com">example@ez.com</a>
            <a href="tel:+420200200200">+420 200 200 200</a>
          </p>
        </div>
        <p class='projects__par'>Když se na něj klikne, tak se zobrazí popis projektu a kontaktní osoba.</p>
      </article>
    </div>
  </section>
</div>